/*
   Color for Web Portfolio
   #026093 dark blue, visited links
   #0D85C6 light orange, headings
   #05A8FF bright blue, text
   #358DBD dull blue, links
 */

body{
  margin: 50px;
}

p {
  font-family: "Merriweather", serif;
  font-size: 15px;
  color: #05A8FF;
}

/*font color: light orange*/
h2 {
  font-family: "Cinzel", serif;
  font-size: 20px;
  color: #FF7400;
}

/*link color: dull blue*/
a:visited{
  color: #358DBD;
}

/*font color: light blue*/
h3{
  color: rgba(30,144,255,1);
}

* {
    box-sizing: border-box;
}

div{
  padding: 20px;
  border: 1px;
}

/*Sample course work has 100% width in different screen size, we use 99.7% to improve visualization*/
#sample{
  width: 99.7%;
}

/*adjust the size of image so it can shrink for smaller screen and positioned at right side of screen*/
.selfie img{
  width: 12%;
  height: 12%;
  float: right;
}

/*mobile first*/
.column{
  border-width: 1px;
  border-style: solid;
  border-color: blue;
  flex-shrink: 0;
  flex-grow: 1;
  background-color: rgba(255,165,0,0.1);
}

/*pad second, we choose 49.7% width for better visualization*/
@media (min-width: 768px) and (max-width: 991px){
  .column{
      float: left;
      background-color: rgba(152,251,152,0.5);
  }
  #P1{
    text-align: left;
  }
  #P2{
    text-align: right;
  }
  #P3{
    text-align: center;
  }
  #Pro3{
    width: 100%;
  }
}

/*Desktop site last*/
@media (min-width: 992px) {
  .column{
      float: left;
      background-color: rgba(0,191,255,0.1);
  }
  #P1{
    text-align: left;
  }
  #P2{
    text-align: center;
  }
  #P3{
    text-align: right;
  }
}
