/*
   Color for Web Portfolio
   #026093 dark blue, visited links
   #0D85C6 light orange, headings
   #05A8FF bright blue, text
   #358DBD dull blue, links
 */

body{
  margin: 50px;
}

p {
  font-family: "Merriweather", serif;
  font-size: 15px;
  color: #05A8FF;
}

/*font color: light orange*/
h2 {
  font-family: "Cinzel", serif;
  font-size: 30px;
  color: #FF7400;
}

/*link color: dull blue*/
a:visited{
  color: #358DBD;
}

/*font color: light blue*/
h3{
  color: rgba(30,144,255,1);
}

* {
    box-sizing: border-box;
}

div{
  padding: 20px;
}

/*glow light effect for the main heading*/
.button {
  padding: 10px;
  font: normal 60px/normal "Righteous", Helvetica, sans-serif;
  color: rgba(255,165,0,1);
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00BFFF , 0 0 70px #00BFFF , 0 0 80px #00BFFF;
}

.button:hover {
  color: rgba(0,191,255,1);
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #FFA500 , 0 0 70px #FFA500 , 0 0 80px #FFA500;
}

/*mobile first*/
.column{
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: blue;
  flex-shrink: 0;
  flex-grow: 1;
  margin: 1px;
  background-color: rgba(255,165,0,0.1);
}

/*pad second, we choose 49.7% width for better visualization*/
@media (min-width: 768px) and (max-width: 991px){
  .column{
      float: left;
      width: 49.7%;
      background-color: rgba(152,251,152,0.5);
  }
  #Pro1{
    text-align: left;
  }
  #Pro2{
    text-align: right;
  }
  #Pro3{
    text-align: center;
    width: 100%;
  }
}

/*Desktop site last*/
@media (min-width: 992px) {
  .column{
      float: left;
      width: 33%;
      background-color: rgba(0,191,255,0.1);
  }
  #Pro1{
    text-align: left;
  }
  #Pro2{
    text-align: center;
  }
  #Pro3{
    text-align: right;
  }
}

/*Sample course work has 100% width in different screen size, we use 99.7% to improve visualization*/
#sample{
  width: 99.7%;
}

/*adjust the size of image so it can shrink for smaller screen and positioned at right side of screen*/
.selfie img{
  width: 20%;
  height: 20%;
  float: right;
  display: block;
}
