/*
   Color for Web Portfolio
   #026093 dark blue, visited links
   #0D85C6 light orange, headings
   #05A8FF bright blue, text
   #358DBD dull blue, links
 */


body{
  margin: 50px;
}

p {
  font-family: "Merriweather", serif;
  font-size: 15px;
  color: #05A8FF;
}

h2 {
  font-family: "Cinzel", serif;
  font-size: 30px;
  color: #FF7400;
}

a:visited{
  color: #358DBD;
}

h3{
  color: rgba(30,144,255,1);
}

* {
    box-sizing: border-box;
}

div{
  padding: 20px;
}

.button {
  padding: 10px;
  font: normal 60px/normal "Warnes", Helvetica, sans-serif;
  color: rgba(255,165,0,1);
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00BFFF , 0 0 70px #00BFFF , 0 0 80px #00BFFF;
}

.button:hover {
  color: rgba(0,191,255,1);
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #FFA500 , 0 0 70px #FFA500 , 0 0 80px #FFA500;
}

.column{
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: blue;
  flex-shrink: 0;
  flex-grow: 1;
  margin: 1px;
  background-color: rgba(255,165,0,0.1);
}

@media (min-width: 767px) and (max-width: 991px){
  .column{
      float: left;
      width: 49.5%;
      background-color: rgba(152,251,152,0.5);
  }
  #P1{
    text-align: left;
  }
  #P2{
    text-align: right;
  }
  #P3{
    text-align: center;
  }

  #Pro3{
    width: 100%;
  }
}

@media (min-width: 992px) {
  .column{
      float: left;
      width: 33%;
      background-color: rgba(0,191,255,0.1);
  }
  #P1{
    text-align: left;
  }
  #P2{
    text-align: center;
  }
  #P3{
    text-align: right;
  }
}

#sample{
  width: 99.7%;
}

.selfie{

}

.selfie img{
  width: 20%;
  height: 20%;
  float: right;
}
